<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

<mat-tab-group dynamicHeight>
    <mat-tab label="Nuestros trabajos">
     
     
  
      <div class="container">
        <br>
        <h4 style="text-align: center;">DOCUMENTAMOS NUESTROS TRABAJOS</h4>
      <br>
  
        <div class="container">
          <div class="row">
              <div class="col-md-4 col-sm-6" *ngFor="let product of data ">
                  
                <div class="product-grid8">
                      <div class="product-image8">
                          <a title="Ver detalles" [routerLink]="['/images/' + product.id]">
                              <img class="pic-1 media-object" [src]="product.image1"  onError="this.src='../../../assets/images/item-not-found.png'" data-src="holder.js/348x348" style="width: 348px; height: 348px;" data-holder-rendered="true" width="1000" alt="{{product.name}}">
                              <img class="pic-2 media-object" [src]="product.image2" data-src="holder.js/348x348" style="width: 348px; height: 348px;" data-holder-rendered="true">
                          </a>
                          <ul class="social">
                               <li><a class="fa fa-picture-o"  [routerLink]="['/images/' + product.id]" title="Ver Imagenes"></a></li>
                          </ul>
                      </div>
                      <div class="product-content">
                          <div class="price" style="text-transform: uppercase; color:#3f51b5; "> {{product.name}}
                          </div>
                          <h3 class="title"><a style="cursor: pointer;" [routerLink]="['/images/' + product.id]" >{{product.category}}</a></h3>
                          <a class="all-deals" [routerLink]="['/images/' + product.id]" >¡Ver detalles! <i class="fa fa-angle-right icon"></i></a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
    
     
    </mat-tab>
  </mat-tab-group>
  