<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>


<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<div id="parallax-world-of-ugg">
  
<!-- <section>
  <div class="title">
    <h3>Let's do some</h3>
    <h1>PARALLAX</h1>
  </div>
</section> -->

<section>
    <div class="parallax-one">
      <h2 style="text-transform: uppercase;">{{data.name}}</h2>
    </div>
</section>

<section>
  <div class="block col-md-6" style="background: white; padding: 60px;float: left; text-align:justify;">
    <p><span class="first-character sc">Situación</span></p>
    <br>
    <p class="margin-top-10">{{data.situation}}</p>
  </div>

  <div class="block col-md-6" style="background: white; padding: 60px;float: left; text-align:justify;">
    <p><span class="first-character sc">Solución</span></p>
    <br>
    <p class="margin-top-10"> {{data.solution}}   </p>
  </div>
</section>

</div>

<div class="container" style="display: grid;">
  <div id="parallax-world-of-ugg">
  
     <section>
      <div class="title">
        <h3>Imagenes del</h3>
        <h1>Proceso</h1>
      </div>
    </section> 
  </div>
  <div class="row mt-40">
      <div class="col-md-4 col-sm-6" style="margin-top: 20px;">
          <div class="box1">
            <img class="pic-1 media-object" [src]="data.image1"  onError="this.src='../../../assets/images/item-not-found.png'" data-src="holder.js/250x250" style="width: 250px; height: 250px; margin: 0 auto;" data-holder-rendered="true" alt="Ver">
              <h3 class="title">Ver imagen</h3>
              <ul class="icon">
                  <li><a href="#"><i class="fa fa-search"></i></a></li>
                  <li><a href="#"><i class="fa fa-link"></i></a></li>
              </ul>
          </div>
      </div>
      <div class="col-md-4 col-sm-6" style="margin-top: 20px;">
        <div class="box1">
          <img class="pic-1 media-object" [src]="data.image2"  onError="this.src='../../../assets/images/item-not-found.png'" data-src="holder.js/250x250" style="width: 250px; height: 250px; margin: 0 auto;" data-holder-rendered="true" alt="Ver">
            <h3 class="title">Ver imagen</h3>
            <ul class="icon">
                <li><a href="#"><i class="fa fa-search"></i></a></li>
                <li><a href="#"><i class="fa fa-link"></i></a></li>
            </ul>
        </div>
      </div>
      <div class="col-md-4 col-sm-6" style="margin-top: 20px;">
        <div class="box1">
          <img class="pic-1 media-object" [src]="data.image3"  onError="this.src='../../../assets/images/item-not-found.png'" data-src="holder.js/250x250" style="width: 250px; height: 250px; margin: 0 auto;" data-holder-rendered="true" alt="Ver">
            <h3 class="title">Ver imagen</h3>
            <ul class="icon">
                <li><a href="#"><i class="fa fa-search"></i></a></li>
                <li><a href="#"><i class="fa fa-link"></i></a></li>
            </ul>
        </div>
      </div>
      <div class="col-md-4 col-sm-6" style="margin-top: 20px;">
        <div class="box1">
          <img class="pic-1 media-object" [src]="data.image4"  onError="this.src='../../../assets/images/item-not-found.png'" data-src="holder.js/250x250" style="width: 250px; height: 250px; margin: 0 auto;" data-holder-rendered="true" alt="Ver">
            <h3 class="title">Ver imagen</h3>
            <ul class="icon">
                <li><a href="#"><i class="fa fa-search"></i></a></li>
                <li><a href="#"><i class="fa fa-link"></i></a></li>
            </ul>
        </div>
      </div>
      <div class="col-md-4 col-sm-6" style="margin-top: 20px;">
        <div class="box1">
          <img class="pic-1 media-object" [src]="data.image5"  onError="this.src='../../../assets/images/item-not-found.png'" data-src="holder.js/250x250" style="width: 250px; height: 250px; margin: 0 auto;" data-holder-rendered="true" alt="Ver">
            <h3 class="title">Ver imagen</h3>
            <ul class="icon">
                <li><a href="#"><i class="fa fa-search"></i></a></li>
                <li><a href="#"><i class="fa fa-link"></i></a></li>
            </ul>
        </div>
      </div>
  </div>

 
</div>
