<mat-tab-group dynamicHeight>
    <mat-tab label="Todos los productos">



        <div class="container">
            <br>
            <h4 style="text-align: center;">NUESTROS PRODUCTOS</h4>
            <br>
            <div class="container-fluid" style="margin-bottom: 20px;">
                <form [formGroup]="form">

                    <mat-form-field appearance="legacy">
                        <mat-label class="span_color_black">Busca tu producto aquí</mat-label>
                        <input matInput id="filter" formControlName="filter" placeholder="Llantas"
                            autocomplete="off" data-toggle="tooltip" data-placement="right"
                            title="El formulario es sensible a máyusculas y mínusculas.">
                    </mat-form-field>

                    <button mat-mini-fab style="background-color:#285dbf; margin-left: 10px;" aria-label="Buscar" (click)="getByDesc()">
                        <mat-icon>search</mat-icon>
                    </button>
                </form>

            </div>

            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-6" *ngFor="let product of data">
                        <div class="product-grid8">
                            <div class="product-image8">
                                <a title="Ver detalles">
                                    <img class="pic-1 media-object" [src]="product.imgurl"
                                        onError="this.src='../../../assets/images/item-not-found.png'"
                                        data-src="holder.js/348x348" style="width: 348px; height: 348px;"
                                        data-holder-rendered="true" width="1000" alt="{{product.name}}">
                                    <img class="pic-2 media-object" [src]="product.imageurltwo"
                                        onError="this.src='../../../assets/images/item-not-found.png'"
                                        data-src="holder.js/348x348" style="width: 348px; height: 348px;"
                                        data-holder-rendered="true">
                                </a>
                                <ul class="social">
                                    <li><a class="fa fa-search" title="Ver detalles"
                                            (click)="openDialog(product.price, product.mark, product.description,product.available,product.name,product.imgurl,product.id )"></a>
                                    </li>
                                    <li><a class="fa fa-cart-plus"
                                            (click)="setToLocalStorage(product.price, product.mark, product.description,product.available,product.name )"
                                            title="Agregar producto al carrito"></a></li>
                                    <li><a class="fa fa-shopping-bag"
                                            (click)="openShippingCart(product.price, product.mark, product.description,product.available,product.name,product.imgurl,product.id )"
                                            title="Ver carrito"></a></li>
                                </ul>
                                <span
                                    class="product-discount-label">{{product.available == 'true' ? 'Disponibles' : 'Agotados'}}</span>
                            </div>
                            <div class="product-content">
                                <div class="price">{{product.name }}
                                    <span>{{product.mark}}</span>
                                </div>
                                <span class="product-shipping">${{product.price}}</span>
                                <h3 class="title"><a style="cursor: pointer;"
                                        (click)="openDialog(product.price, product.mark, product.description,product.available,product.name,product.imgurl,product.id )">{{product.description}}</a>
                                </h3>
                                <a class="all-deals" href="/find-us">¡Ven y compruebalo! <i
                                        class="fa fa-angle-right icon"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </mat-tab>
</mat-tab-group>